In [1]:
import pandas as pd
import numpy as np
import os

## DF Final Web Data

In [2]:
# load df_final_web_data_pt_1.txt

data_webdata1 = pd.read_csv('../files_for_project/df_final_web_data_pt_1.txt', sep=',') 
print(data_webdata1.head())
print(data_webdata1.columns)

   client_id            visitor_id                      visit_id process_step  \
0    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
1    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
2    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
3    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
4    9988021  580560515_7732621733  781255054_21935453173_531117       step_3

             date_time
0  2017-04-17 15:27:07
1  2017-04-17 15:26:51
2  2017-04-17 15:19:22
3  2017-04-17 15:19:13
4  2017-04-17 15:18:04
Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [3]:
# Rename the columns
data_webdata1.columns = ["client_id", "visitor_id", "visit_id", "process_step", "date_time"]

# Check
print(data_webdata1.head())

   client_id            visitor_id                      visit_id process_step  \
0    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
1    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
2    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
3    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
4    9988021  580560515_7732621733  781255054_21935453173_531117       step_3

             date_time
0  2017-04-17 15:27:07
1  2017-04-17 15:26:51
2  2017-04-17 15:19:22
3  2017-04-17 15:19:13
4  2017-04-17 15:18:04

In [4]:
# drop first row
data_webdata1 = data_webdata1.drop(index=0)
data_webdata1

,client_id,visitor_id,visit_id,process_step,date_time
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [5]:
# retrieving the number of rwos and columns in the dataframe 
data_webdata1.shape

(343140, 5)

In [6]:
# displaying the data types of each column in the dataframe
data_webdata1.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [7]:
# retrieving the unique data types present in the dataframe columns
list(set(data_webdata1.dtypes.tolist()))

[dtype('int64'), dtype('O')]

In [8]:
print(data_webdata1.isnull().sum())

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [9]:
print(data_webdata1["process_step"].unique())

['step_2' 'step_3' 'step_1' 'start' 'confirm']

In [10]:
print(data_webdata1[data_webdata1["process_step"].isnull()].head())

Empty DataFrame
Columns: [client_id, visitor_id, visit_id, process_step, date_time]
Index: []

In [11]:
# explore first 
print(data_webdata1[data_webdata1["process_step"].isnull()].head())

Empty DataFrame
Columns: [client_id, visitor_id, visit_id, process_step, date_time]
Index: []

In [12]:
# drop missing values 
data_webdata1 = data_webdata1.dropna(subset=["process_step"])

In [13]:
# visitor_id is a combination of two numbers separated by an underscore ( do we need to separat or use it as it is ?)
print(data_webdata1["visitor_id"].unique())

['580560515_7732621733' '39393514_33118319366' '762728880_76361333336' ...
 '897419406_91053100530' '140157234_42535034872' '919753573_77122543946']

In [14]:
# check the rows where process_step is missing 
print(data_webdata1[data_webdata1["process_step"].isnull()].head(10))

Empty DataFrame
Columns: [client_id, visitor_id, visit_id, process_step, date_time]
Index: []

In [15]:
# extracting column names with numerical data types from the dataframe
data_webdata1.select_dtypes("number").columns

Index(['client_id'], dtype='object')

In [16]:
# counting and sorting the unique values for each object (string) column in descending order
data_webdata1.select_dtypes("object").nunique().sort_values(ascending=False)

# all columns seem categorical, as there isn't a wide variability of values.

date_time       282666
visit_id         75256
visitor_id       62936
process_step         5
dtype: int64

In [17]:
# remove dublications 
data_webdata1 = data_webdata1.drop_duplicates()
print("Duplicates removed.")

Duplicates removed.

In [18]:
#handel missing process_step fill with 0
data_webdata1["process_step"] = data_webdata1["process_step"].fillna(0)
print(" Missing process_step values filled with 0.")

 Missing process_step values filled with 0.

In [19]:
# # Export cleaned data to CSV
# data_webdata1.to_csv("merged_data/cleaned_data_webdata1.csv", index=False, encoding='utf-8-sig')

# print("Cleaned data exported to 'cleaned_data_webdata1.csv'")

In [20]:
# load df_final_web_data_pt_2.txt

data_webdata2 = pd.read_csv('../files_for_project/df_final_web_data_pt_2.txt', sep=',') 
print(data_webdata2.head())
print(data_webdata2.columns)

   client_id             visitor_id                      visit_id  \
0     763412  601952081_10457207388  397475557_40440946728_419634
1    6019349  442094451_91531546617  154620534_35331068705_522317
2    6019349  442094451_91531546617  154620534_35331068705_522317
3    6019349  442094451_91531546617  154620534_35331068705_522317
4    6019349  442094451_91531546617  154620534_35331068705_522317

  process_step            date_time
0      confirm  2017-06-06 08:56:00
1      confirm  2017-06-01 11:59:27
2       step_3  2017-06-01 11:58:48
3       step_2  2017-06-01 11:58:08
4       step_1  2017-06-01 11:57:58
Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [21]:
# Rename the columns
data_webdata2.columns = ["client_id", "visitor_id", "visit_id", "process_step", "date_time"]

# Check
print(data_webdata2.head())

   client_id             visitor_id                      visit_id  \
0     763412  601952081_10457207388  397475557_40440946728_419634
1    6019349  442094451_91531546617  154620534_35331068705_522317
2    6019349  442094451_91531546617  154620534_35331068705_522317
3    6019349  442094451_91531546617  154620534_35331068705_522317
4    6019349  442094451_91531546617  154620534_35331068705_522317

  process_step            date_time
0      confirm  2017-06-06 08:56:00
1      confirm  2017-06-01 11:59:27
2       step_3  2017-06-01 11:58:48
3       step_2  2017-06-01 11:58:08
4       step_1  2017-06-01 11:57:58

In [22]:
# retrieving the number of rwos and columns in the dataframe 
data_webdata2.shape

(412264, 5)

In [23]:
# displaying the data types of each column in the dataframe
data_webdata2.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [24]:
# retrieving the unique data types present in the dataframe columns
list(set(data_webdata2.dtypes.tolist()))

[dtype('int64'), dtype('O')]

In [25]:
print(data_webdata2.isnull().sum())

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [26]:
print(data_webdata2["process_step"].unique())

['confirm' 'step_3' 'step_2' 'step_1' 'start']

In [27]:
print(data_webdata2[data_webdata2["process_step"].isnull()].head())

Empty DataFrame
Columns: [client_id, visitor_id, visit_id, process_step, date_time]
Index: []

In [28]:
# drop missing values 
data_webdata2 = data_webdata2.dropna(subset=["process_step"])

In [29]:
# visitor_id is a combination of two numbers separated by an underscore ( do we need to separat or use it as it is ?)
print(data_webdata2["visitor_id"].unique())

['601952081_10457207388' '442094451_91531546617' '934350987_45569789638'
 ... '473024645_56027518531' '388766751_9038881013'
 '947159805_81558194550']

In [30]:
# check the rows where process_step is missing 
print(data_webdata2[data_webdata2["process_step"].isnull()].head(10))

Empty DataFrame
Columns: [client_id, visitor_id, visit_id, process_step, date_time]
Index: []

In [31]:
# extracting column names with numerical data types from the dataframe
data_webdata2.select_dtypes("number").columns

Index(['client_id'], dtype='object')

In [32]:
# counting and sorting the unique values for each object (string) column in descending order
data_webdata2.select_dtypes("object").nunique().sort_values(ascending=False)

# all columns seem categorical, as there isn't a wide variability of values.

date_time       346697
visit_id         82841
visitor_id       71042
process_step         5
dtype: int64

In [33]:
# remove dublications 
data_webdata2 = data_webdata2.drop_duplicates()
print("Duplicates removed.")

Duplicates removed.

In [34]:
#handel missing process_step fill with 0
data_webdata2["process_step"] = data_webdata2["process_step"].fillna(0)
print(" Missing process_step values filled with 0.")

 Missing process_step values filled with 0.

In [35]:
# df1 = pd.read_csv('cleaned_data_webdata1.csv')
# df2 = pd.read_csv('cleaned_data_webdata2.csv')

frames = [data_webdata1, data_webdata2]
data_webdata = pd.concat(frames)
print(data_webdata)

        client_id             visitor_id                      visit_id  \
1         9988021   580560515_7732621733  781255054_21935453173_531117
2         9988021   580560515_7732621733  781255054_21935453173_531117
3         9988021   580560515_7732621733  781255054_21935453173_531117
4         9988021   580560515_7732621733  781255054_21935453173_531117
5         9988021   580560515_7732621733  781255054_21935453173_531117
...           ...                    ...                           ...
412259    9668240   388766751_9038881013   922267647_3096648104_968866
412260    9668240   388766751_9038881013   922267647_3096648104_968866
412261    9668240   388766751_9038881013   922267647_3096648104_968866
412262    9668240   388766751_9038881013   922267647_3096648104_968866
412263     674799  947159805_81558194550   86152093_47511127657_716022

       process_step            date_time
1            step_2  2017-04-17 15:26:51
2            step_3  2017-04-17 15:19:22
3            step_2  2017-04-17 15:19:13
4            step_3  2017-04-17 15:18:04
5            step_2  2017-04-17 15:17:15
...             ...                  ...
412259        start  2017-05-24 18:46:10
412260        start  2017-05-24 18:45:29
412261       step_1  2017-05-24 18:44:51
412262        start  2017-05-24 18:44:34
412263        start  2017-06-03 12:17:09

[744640 rows x 5 columns]

In [36]:
print(data_webdata.info())
print(data_webdata.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 744640 entries, 1 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     744640 non-null  int64
 1   visitor_id    744640 non-null  object
 2   visit_id      744640 non-null  object
 3   process_step  744640 non-null  object
 4   date_time     744640 non-null  object
dtypes: int64(1), object(4)
memory usage: 34.1+ MB
None
          client_id
count  7.446400e+05
mean   5.014052e+06
std    2.879584e+06
min    1.690000e+02
25%    2.521851e+06
50%    5.031965e+06
75%    7.497388e+06
max    9.999875e+06

In [37]:
print("Total duplicates:", data_webdata.duplicated().sum())

Total duplicates: 0

In [38]:
data_webdata.to_csv('../merged_data/cleaned_webdata.csv', index=False)
print("Data exported successfully!")

Data exported successfully!