In [1]:
import pandas as pd
import numpy as np

## DF Final Demo

In [2]:
# load df_final_demo.txt
data_demo = pd.read_csv('../files_for_project/df_final_demo.txt', sep=",", header=None)
data_demo.columns = ["client_id", "clnt_tenure_yr", "clnt_tenure_mnth", "clnt_age", "gendr", "num_accts", "bal", "calls_6_mnth", "logons_6_mnth"]

/var/folders/yr/gmmc3xcx5xg406qfnj2bnx340000gn/T/ipykernel_87990/1913315236.py:2: DtypeWarning: Columns (0,1,2,3,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  data_demo = pd.read_csv('../files_for_project/df_final_demo.txt', sep=",", header=None)

In [3]:
# drop first column
data_demo = data_demo.drop(index=0)

In [4]:
# display the first few rows of the dataset
data_demo.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
1,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0
2,2304905,7.0,94.0,58.0,U,2.0,110860.3,6.0,9.0
3,1439522,5.0,64.0,32.0,U,2.0,52467.78999999999,6.0,9.0
4,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
5,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [5]:
# retrieving the number of rows and columns in the dataframe
data_demo.shape

(70609, 9)

In [6]:
# displaying the data types of each column in the dataframe
data_demo.dtypes

client_id           object
clnt_tenure_yr      object
clnt_tenure_mnth    object
clnt_age            object
gendr               object
num_accts           object
bal                 object
calls_6_mnth        object
logons_6_mnth       object
dtype: object

In [7]:
# retrieving the unique data types present in the dataframe columns
list(set(data_demo.dtypes.tolist()))

[dtype('O')]

In [8]:
# fixing data types in the dataframe
data_demo["client_id"] = data_demo["client_id"].astype(int)
data_demo["clnt_tenure_yr"] = data_demo["clnt_tenure_yr"].astype(float)
data_demo["clnt_tenure_mnth"] = data_demo["clnt_tenure_mnth"].astype(float)
data_demo["clnt_age"] = data_demo["clnt_age"].astype(float)
data_demo["num_accts"] = data_demo["num_accts"].astype(float)
data_demo["bal"] = data_demo["bal"].astype(float)
data_demo["calls_6_mnth"] = data_demo["calls_6_mnth"].astype(float)
data_demo["logons_6_mnth"] = data_demo["logons_6_mnth"].astype(float)

In [9]:
# extracting column names with numerical data types from the dataframe
data_demo.select_dtypes("number").columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [10]:
# Counting and sorting the unique values for each numerical column in descending order
data_demo.select_dtypes("number").nunique().sort_values(ascending=False)

client_id           70609
bal                 70342
clnt_tenure_mnth      482
clnt_age              165
clnt_tenure_yr         54
logons_6_mnth           9
num_accts               8
calls_6_mnth            8
dtype: int64

In [11]:
# separating between discrete and continuous variables, as discrete ones could potentially be treated as categorical.
# remember to adjust the threshold (in this case, < 20) based on your dataset's specific characteristics and domain knowledge.
potential_categorical_from_numerical = data_demo.select_dtypes("number").loc[:, data_demo.select_dtypes("number").nunique() < 20]
potential_categorical_from_numerical

       num_accts  calls_6_mnth  logons_6_mnth
1            2.0           6.0            9.0
2            2.0           6.0            9.0
3            2.0           6.0            9.0
4            2.0           3.0            6.0
5            2.0           0.0            3.0
...          ...           ...            ...
70605        3.0           5.0            5.0
70606        2.0           6.0            6.0
70607        2.0           3.0            3.0
70608        3.0           4.0            4.0
70609        3.0           7.0            7.0

[70609 rows x 3 columns]

In [12]:
# retrieving column names with object (typically string) data types from the dataframe
data_demo.select_dtypes("object").columns

Index(['gendr'], dtype='object')

In [13]:
# counting and sorting the unique values for each object (string) column in descending order
data_demo.select_dtypes("object").nunique().sort_values(ascending=False)

# all columns seem categorical, as there isn't a wide variability of values.

gendr    4
dtype: int64

In [14]:
# clean 'gendr' column of not categorized NaN values
data_demo['gendr'] = data_demo['gendr'].replace("U", np.nan)
data_demo['gendr'] = data_demo['gendr'].replace("X", np.nan)
data_demo.gendr.unique()

array([nan, 'M', 'F'], dtype=object)

In [15]:
# extracting columns with object (typically string) data types to create a categorical dataframe
# for demonstration purposes, let's consider the columns in potential_categorical_from_numerical as categorical variables.
data_demo_categorical = pd.concat([data_demo.select_dtypes("object"), potential_categorical_from_numerical], axis=1)

# adjusting the numerical dataframe by removing the moved columns
data_demo_numerical = data_demo.select_dtypes("number").drop(columns=potential_categorical_from_numerical.columns)

In [16]:
# verifying that the total number of columns in the dataframe is the sum of object (string) and numerical columns
len(data_demo.columns) == len(data_demo.select_dtypes("object").columns) + len(data_demo.select_dtypes("number").columns)

True

In [17]:
# checking for missing data
data_demo.isnull().sum().sort_values(ascending=False)

gendr               24139
clnt_age               15
clnt_tenure_yr         14
clnt_tenure_mnth       14
num_accts              14
bal                    14
calls_6_mnth           14
logons_6_mnth          14
client_id               0
dtype: int64

In [18]:
# identifying columns in the dataframe where over 80% of the values are missing
data_demo.columns[data_demo.isnull().mean() > 0.8]

Index([], dtype='object')

In [19]:
# filtering out columns in the dataframe where more than 80% of the values are missing
data_demo = data_demo[data_demo.columns[data_demo.isnull().mean() < 0.8]]

In [20]:
# removing the "client_id" column from the dataframe
# data_demo.drop("client_id", inplace=True, axis=1)

In [21]:
# frequency table for "gendr"
frequency_table = data_demo["gendr"].value_counts()

# calculating the proportion of each unique value in the "gendr"
proportion_table = data_demo["gendr"].value_counts(normalize=True)

frequency_table, proportion_table

(gendr
 M    23724
 F    22746
 Name: count, dtype: int64,
 gendr
 M    0.510523
 F    0.489477
 Name: proportion, dtype: float64)

In [22]:
# creating a crosstab table for the 'gendr' column, counting occurrences for each unique value
my_table = pd.crosstab(index = data_demo_categorical["gendr"],  # Make a crosstab
                              columns="count")      # Name the count column
my_table

col_0  count
gendr
F      22746
M      23724

In [23]:
# calculating the proportions for each value in 'my_table' and rounding the results to two decimal places
(my_table/my_table.sum()).round(2)

col_0  count
gendr
F       0.49
M       0.51

In [24]:
data_demo.to_csv('../merged_data/cleaned_data_demo.csv', index=False)